{%load static%}
<!DOCTYPE html>
<html lang="en" data-layout-mode="light_mode">


<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Dreams POS is a powerful Bootstrap based Inventory Management Admin Template designed for businesses, offering seamless invoicing, project tracking, and estimates.">
	<meta name="keywords" content="inventory management, admin dashboard, bootstrap template, invoicing, estimates, business management, responsive admin, POS system">
	<meta name="author" content="Dreams Technologies">
	<meta name="robots" content="index, follow">
	<title>Dreams POS - Inventory Management & Admin Dashboard Template</title>

	<script src="{% static 'assets/js/theme-script.js' %}"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/img/favicon.png' %}">

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{%static 'assets/img/apple-touch-icon.png' %}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">

	<!-- animation CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">

	<!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/daterangepicker/daterangepicker.css' %}">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="{%static 'assets/plugins/tabler-icons/tabler-icons.min.css' %}">
 
	<!-- Datatable CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap5.min.css'%}" />

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">

	<!-- Color Picker Css -->
	<link rel="stylesheet" href="{% static 'assets/plugins/%40simonwep/pickr/themes/nano.min.css' %}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<!-- Owl JS -->
	<script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js'%}" type="78b23f2e324f3700e9bc5b75-text/javascript"></script>

	  <!-- Quill CSS -->
    <link rel="stylesheet" href="{% static 'assets/plugins/quill/quill.snow.css'%}" />
		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/owlcarousel/owl.carousel.min.css'%}">

   <!-- Bootstrap Tagsinput CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css'%}"
    />

</head>

<body>
	<!-- <div id="global-loader">
		<div class="whirly-loader"> </div>
	</div> -->
    <div id="global-loader">
        <div class="whirly-loader"></div>
    </div>
    <div class="main-wrapper">
        {%block content%}

        {%endblock%}
    </div>
    
		<!-- Owl JS -->
	<script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js'%}" type="78b23f2e324f3700e9bc5b75-text/javascript"></script>


<!-- jQuery -->
	<script src="{% static 'assets/js/jquery-3.7.1.min.js' %}"></script>

	<!-- Feather Icon JS -->
	<script src="{% static 'assets/js/feather.min.js' %}"></script>

	<!-- Slimscroll JS -->
	<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

    <!-- Datatable JS -->
	<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/js/dataTables.bootstrap5.min.js' %}"></script>


	<!-- Bootstrap Core JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

	<!-- ApexChart JS -->
	<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
	<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>

	<!-- Chart JS -->
	<script src="{% static 'assets/plugins/chartjs/chart.min.js' %}"></script>
	<script src="{% static 'assets/plugins/chartjs/chart-data.js' %}"></script>

    <!-- Datetimepicker JS -->
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

	<!-- Daterangepikcer JS -->
	<script src="{% static 'assets/js/moment.min.js' %}"></script>
	<script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>

	<!-- Select2 JS -->
	<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

    <!-- Quill JS -->
	<script src="{% static 'assets/plugins/quill/quill.min.js' %}"></script>

	<!-- Color Picker JS -->
	<script src="{% static 'assets/plugins/%40simonwep/pickr/pickr.es5.min.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'assets/js/theme-colorpicker.js' %}"></script>
	<script src="{% static 'assets/js/script.js' %}"></script>


<!-- Map JS -->
		<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.5.min.js' %}"></script>
		<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-world-mill.js' %}"></script>
		<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-ru-mill.js' %}"></script>
		<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-us-aea.js' %}"></script>
		<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-uk_countries-mill.js' %}"></script>
		<script src="{% static 'assets/plugins/jvectormap/jquery-jvectormap-in-mill.js' %}"></script>
		<script src="{% static 'assets/js/jvectormap.js' %}"></script>
		<script src="{% static 'assets/js/jsvectormap.js' %}"></script>


</body>

</html>
